@import './variables.scss';

.header{
    display: flex;
    width: auto;
    height: 800px;
    justify-content: center;
    box-sizing: border-box;
    padding: 23px 0 119px 0;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
}

.header_section{
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 380px;
}

.header__nav{
    display: flex;
    width: auto;
    box-sizing: border-box;
    padding: 18px 0;
    justify-content: center;
    align-items: center;
    gap: 397px;
    position: fixed;
    z-index: 100;
}

.header__nav__frame> ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

ul> li{
    list-style-type: none;
}

.header__nav__item{
    display: flex;
    flex-direction: row;
    gap: 12px;
    box-sizing: border-box;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #FFF;
    text-decoration: none;
}

.header__nav__item--text{
    margin: 0;

    color: #FFF;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__main{
    margin: 491px 0 0 0;
    width: 846px;
    height: auto;

    color: #FFF;
    font-family: $font-primus;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.meet{
    display: flex;
    width: auto;
    height: 470px;
    justify-content: center;
    box-sizing: border-box;
    padding: 101px 0 102px 0;
    background: #202020;
}

.meet__container{
    display: flex;
    align-items: flex-start;
    width: 1050px;
}

.meet__block{
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 40px;
    width: 1050px;
    align-items: flex-start;
}

.meet__block__header{
    margin: 0;

    color: #FAEB49;
    font-family: $font-primus;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.meet__block__text{
    width: 500px;
    margin: 0;

    color: #FFF;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.meet_statistic{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 96px;
}

.meet__statistic__block{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 5px;
    align-items: flex-start;
}

.meet__statistic__block__num{
    margin: 0;
    color: #FFF;
    font-family: $font-primus;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.meet__statistic__block_info{
    width: 116px;
    margin: 0;
    color: #FFF;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.apps{
    display: flex;
    width: auto;
    height: 1460px;
    align-items: center;
    box-sizing: border-box;
    padding: 86px 0;
    background: #3C3C3C;
    flex-direction: column;
    gap: 63px;
}

.app1{
    display: flex;
    width: 1050px;
    height: 680px;
    padding: 24px 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 24px;
    background: #FFFEF2;
    text-decoration: none;
}

.app1__image{
    display: flex;
    width: 100%;
    height: 498px;
    box-sizing: border-box;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 13px;
    background-image: url(images/Frame\ 17.png);
    position: relative;
}

.app1__image__ref{
    display: flex;
    width: 56px;
    height: 56px;
    background-color: #FFF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.app1__content{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
}

.app1__content__head{
    margin: 0;
    color: #565656;
    font-family: $font-primus;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.app1__content__text{
    width: 580px;
    margin: 0;
    color: #000;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
}

.app{
    display: flex;
    height: 545px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    border-radius: 24px;
    background: #FFFEF2;
    text-decoration: none;
}

.app__image1{
    display: flex;
    width: 100%;
    height: 338px;
    box-sizing: border-box;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 13px;
    background-image: url(images/Frame17_1.jpg);
    background-size: 285px 338px;
}

.app__image2{
    @extend .app__image1;
    background-image: url(images/Frame17_2.jpg);
}

.app__image3{
    @extend .app__image1;
    background-image: url(images/Frame17_3.jpg);
}

.app_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.app__content__head{
    margin: 0;
    color: #565656;
    font-family: $font-primus;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.app__content__text{
    margin: 0;
    width: 285px;
    color: #000;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.design{
    display: flex;
    width: auto;
    height: 1220px;
    justify-content: center;
    box-sizing: border-box;
    padding: 82px 0 138px 0;
    background: #202020;
}

.design__container{
    display: flex;
    width: 1055px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.design__header{
    width: 846px;
    height: 108px;
    margin: 0 0 38px 0;
    color: #FFF;
    font-family: $font-primus;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 26px;
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1055px;
    height: 414px;
    border-radius: 40px;
    background-image: url(images/frame18.png);
    grid-column: 1 / -1;
}

.card2{
    @extend .card1;
    width: 514px;
    height: 414px;
    background-image: url(images/Rectangle6.png);
    grid-row: 2;
}

.card3{
    @extend .card1;
    width: 514px;
    height: 414px;
    background-image: url(images/Rectangle7.png);
    grid-row: 2;
    grid-column: 2;
}

.citation{
    display: flex;
    width: auto;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-image: url(images/Rectangle8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.citation__text{
    margin: 0;
    width: 1059px;
    color: #FFF;
    text-align: center;
    font-family: $font-primus;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 530px;
    box-sizing: border-box;
    padding: 78px 0 30px 0;
    align-items: center;
    background: #202020;
}

.footer__button{
    display: flex;
    width: 914px;
    height: 192px;
    box-sizing: border-box;
    padding: 42px 137px;
    flex-direction: row;
    gap: 45px;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #F2F2F2);
    text-decoration: none;
    margin-bottom: 163px;
}

.footer__button__info{
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
}

.footer__button__header{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: $font-primus;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__button__text{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: $font-secundus;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.links{
    display: flex;
    gap: 34px;
    flex-direction: row;
    margin-bottom: 21px;
}

.copyright{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: $font-secundus;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



@media (min-width: 768px) and (max-width: 1200px) {

    .header__main{
        width: 521px;
        margin: 273px 0 0 0;
    }

    .meet__container{
        width: 703px;
    }
    
    .apps{
        height: 1590px;
        padding: 52px 33px 122px 33px;
    }
    
    .app1{
        width: 703px;
    }

    .grid{
        grid-template-columns: repeat(2, 333px);
    }

    .app{
        height: 634px;
    }

    .app__image1{
        height: 448px;
        background-size: 285px 448px;
    }

    .app__image2{
        height: 448px;
        background-size: 285px 448px;
    }

    .app:last-child {
        display: none;
    }

    .design{
        height: 1122px;
    }

    .design__container{
        width: 703px;
    }

    .design__header{
        width: 703px;
    }

    .card1{
        width: 703px;
        height: 414px;
    }

    .card2, .card3{
        width: 336px;
        height: 325px;
    }

    .fig1{
        width: 227px;
        height: 227px;        
    }

    .fig2{
        width: 147px;
        height: 151px;        
    }

    .fig3{
        width: 183px;
        height: 177px;        
    }

    .citation__text{
        width: 704px;
    }

    .footer{
        height: 408px;
    }

    .footer__button{
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 714px;
        height: 150px;
        margin-bottom: 60px;
    }
}

@media (min-width: 320px) and (max-width: 768px){

    .header{
        padding: 27px 0 149px 0;
    }
    .header_section{
        width: 375px;
        box-sizing: border-box;
        padding: 0 28px 0 21px;
    }

    .header__main{
        margin: 412px 0 0 0;
        width: 326px;
        font-size: 48px;
    }

    .meet{
        padding: 73px 0 76px 0;
    }

    .meet__container{
        width: 343px;
    }

    .meet__block__header{
        width: 342px;
        font-size: 36px;
    }

    .meet__block__text{
        width: 342px;
        font-size: 15px;
    }

    .meet_statistic{
        gap: 14px;
    }

    .meet__statistic__block__num{
        font-size: 36px;
    }

    .meet__statistic__block_info{
        width: 76px;
    }

    .apps{
        padding: 52px 0 85px;
        height: 1206px;
    }

    .app1{
        padding: 16px;
        width: 343px;
        height: 488px;
    }

    .app1__image{
        height: 278px;
        background-size: 311px 278px;
    }

    .app1__content__head{
        font-size: 32px;
    }

    .app1__content__text{
        width: 311px;
        font-size: 15px;
    }

    .grid{
        grid-template-columns: 343px;
    }

    .app{
        width: 343px;
        padding: 12px;
    }

    .app:first-child {
        display: none;
    }

    .app:last-child {
        display: none;
    }

    .app__image2{
        height: 363px;
        background-size: 319px 363px;
    }

    .app__content__head{
        font-size: 24px;
    }

    .app__content__text{
        width: 319px;
        font-size: 15px;
    }

    .design{
        height: 1260px;
    }

    .design__container{
        width: 343px;
    }

    .design__header{
        width: 327px;
        height: 54px;
        margin: 0 0 28px 0;
        font-size: 36px;
    }

    .grid2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card1{
        width: 343px;
        height: 325px;
        grid-column: auto;
    }

    .card2{
        width: 343px;
        height: 325px;
        grid-column: auto;
    }

    .card3{
        width: 343px;
        height: 325px;
        grid-column: auto;
    }

    .fig1{
        width: 172px;
        height: 172px;        
    }

    .fig2{
        width: 134px;
        height: 137px;        
    }

    .fig3{
        width: 148px;
        height: 143px;        
    }

    .citation{
        height: 498px;
    }

    .citation__text{
        width: 343px;
        font-size: 24px;
    }

    .footer{
        height: 342px;
        padding: 53px 0 40px 0;
    }

    .footer__button{
        width: 342px;
        height: 72px;
        gap: 20px;
        margin-bottom: 113px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .footer__button__svg{
        width: 52px;
        height: 51px;
    }

    .footer__button__info{
        gap: 4;
    }

    .footer__button__header{
        font-size: 20px;
    }

    .footer__button__text{
        font-size: 15px;
    }

    .copyright{
        font-size: 14px;
    }
}